<%- include ('../partials/header'); -%>

<main>
  <div class="jumbotron">
    <h1>This is great <%= page %></h1>
    <p>Welcome to templating using EJS & Bootstrap</p>
  </div>
</main>

<%- include ('../partials/footer') %>